server:
  port: 8081
  servlet:
    context-path: /api/v1

spring:
  application:
    name: ai-intelligence-service

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: ai-intelligence-service
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
        spring.json.type.mapping: com.monssif.ticket_management_service.events.TicketCreatedEvent:com.monssif.ai_intelligence_service.events.TicketCreatedEvent,com.monssif.ticket_management_service.events.TicketUpdatedEvent:com.monssif.ai_intelligence_service.events.TicketUpdatedEvent,com.monssif.ticket_management_service.events.CommentCreatedEvent:com.monssif.ai_intelligence_service.events.CommentCreatedEvent
      auto-offset-reset: earliest
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: true

  ai:
    google:
      genai:
        api-key: ${GOOGLE_API_KEY}
        chat:
          options:
            model: gemini-2.5-flash


  data:
    redis:
      host: localhost
      port: 6379
      password:
      timeout: 2000ms
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 2
          max-wait: -1ms
        shutdown-timeout: 100ms

  cache:
    type: redis
    redis:
      time-to-live: 3600000
      cache-null-values: false

kafka:
  topics:
    ticket-created: ticket.created
    ticket-updated: ticket.updated
    comment-created: comment.created
    ai-analysis-result: ai.analysis.result

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
      base-path: /actuator
  endpoint:
    health:
      show-details: when-authorized
      probes:
        enabled: true
  health:
    redis:
      enabled: true
    kafka:
      enabled: true

keycloak:
  realm: ticket-support-realm
  auth-server-url: http://localhost:8180
  resource: ai-intelligence-service
  credentials:
    secret: aFGtkfG1B7TtXPro9mzjFpwb3Ooimjna

logging:
  level:
    root: INFO
    com.monssif: DEBUG
    org.springframework.kafka: INFO
    org.springframework.data.redis: INFO
    org.springframework.security: INFO
    org.keycloak: INFO

